<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="display-3">Personal Care Provider</h1>
</div>
<div class="row">
  <h1 class="display-4"><%= @provider.last_name %>, <%= @provider.first_name %></h1>
  <div>
    <% if @provider.active %>
      <span class="badge badge-success">Active</span>
    <% else %>
      <span class="badge badge-danger">None Active</span>
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">DOB:</th>
      <td><%= @provider.date_of_birth %></td>
    </tr>
    <tr>
      <th scope="row">SSI</th>
      <td><%= @provider.ssi %></td>
    </tr>

    <tr>
      <th scope="row">Address</th>
      <td><%= @provider.address %> <%= @provider.city %> <%= @provider.state %> <%= @provider.postal_code %></td>
    </tr>

    <tr>
      <th scope="row">Emergency Contact Information</th>
      <td><%= @provider.emergency_contact_info %></td>
    </tr>

    <tr>
      <th scope="row">Last Staff Evaluation Date</th>
      <td><%= @provider.staff_evaluation_date %></td>
    </tr>

    <tr>
      <th scope="row">Last Safety Training Date</th>
      <td><%= @provider.staff_evaluation_date %></td>
    </tr>

    <tr>
      <th scope="row">ID Expiration Date</th>
      <td><%= @provider.id_expiration_date %></td>
    </tr>

    <tr>
      <th scope="row">Work Authorization Expiration</th>
      <td><%= @provider.work_authorization_expiration %></td>
    </tr>
  </tbody>
</table>

<%= render 'careplans/list', careplans: @provider.careplans %>
<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
