<p id="notice"><%= notice %></p>

<h1>Task Types</h1>

<table class="table-striped" style="width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Homemaking</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @task_types.each do |task_type| %>
      <tr>
        <td><%= task_type.name %></td>
        <td><%= task_type.homemaking %></td>
        <td><%= task_type.value %></td>
        <td><%= link_to 'Show', task_type %> | <%= link_to 'Edit', edit_task_type_path(task_type) %> | <%= link_to 'Destroy', task_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Type', new_task_type_path %>
